<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ToDo App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
<header>
    <h1 class="center navbar navbar-light bg-light">ToDo App</h1>
</header>
<main class="section">
<h3 class="center">Registration</h3>

<form name="registrationForm" id="registrationForm">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Must follow email pattern 'characters@characters.domain '">
        <div id="emailError" class="invalid-feedback">Email is required</div>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
        <div id="firstNameError" class="invalid-feedback">First Name is required</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        <div id="lastNameError" class="invalid-feedback">Last Name is required</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
        <div id="passwordError" class="invalid-feedback">Password is required</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
        <div id="confirmPasswordError" class="invalid-feedback">Confirm Password is required</div>
      </div>
    </div>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male">
            <label class="form-check-label" for="male">
              Male
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
            <label class="form-check-label" for="female">
              Female
            </label>
          </div>

          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="gender" id="other" value="other">
            <label class="form-check-label" for="other">
              Other
            </label>
          </div>

          <div id="genderError" class="invalid-feedback">Gender is required</div>

        </div>

      </div>
    </fieldset>

    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="address" placeholder="Address"></textarea>
        <div id="addressError" class="invalid-feedback">Address is required</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="profileImage" class="col-sm-2 col-form-label">Profile Image</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="profileImage" placeholder="Profile Image" accept="image/*" onchange="previewFile()" />
        <div id="profileImageError" class="invalid-feedback">Profile Image is required</div>
        <img id="previewProfileImage" class="avatar border" style="display: none;" />
      </div>
    </div>

    <div class="form-group row center">
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" onclick="registerUser();">Register</button>
      </div>

      <div class="col-sm-10">
        <a href="Login.html">Already Have an Account?</a>
      </div>
    </div>
  </form>
  
</main>   
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="../Script/registration.js"></script>
    
  </body>
  </html>